body{
	background-color:powderblue
}
.login{
	color: blue;
	
}

.d1{	
	background-color: #808000;
	border-style: outset;
	margin-top: 120px;
	margin-left: 300px;
	margin-right: 300px;	
	padding: 20px;

}

.form{
	text-align: center;
	padding: 30px;
}

.center{
	margin-left: 220px;
}

.btn{

	height: 35px;
	background-color: blue;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 8px; 
}

.btn:hover{
	background-color: blue;
	color: red;
}

#btn1{

	padding-left: 30px;
	padding-right: 30px;
}
